In [1]:
import requests
import pandas as pd

API_KEY = "56bf439b-dbbc-4535-bfdf-39617a16d185"
url = "https://api.harvardartmuseums.org/classification"

all_records = []
page = 1

while True:
    params = {
        "apikey": API_KEY,
        "size": 100,
        "page": page
    }
    response = requests.get(url, params=params).json()
    
    records = response.get("records", [])
    if not records:  # No more data
        break
    
    all_records.extend(records)
    page += 1

# Convert to DataFrame
classification_df = pd.DataFrame(all_records)
print("Total records collected:", len(classification_df))
classification_df

Total records collected: 64

,objectcount,name,id,lastupdate,classificationid
0,1,Natural History Specimens,1133,2025-09-03T04:31:54-04:00,1133
1,1,Paintings with Text,197,2025-09-03T04:31:54-04:00,197
2,66,Performance Artifacts,224,2025-09-03T04:31:54-04:00,224
3,1,Text,204,2025-09-03T04:31:54-04:00,204
4,80,Tokens,492,2025-09-03T04:31:54-04:00,492
...,...,...,...,...,...
59,5127,Straus Materials,959,2025-09-03T04:31:54-04:00,959
60,534,Artists' Materials,1012,2025-09-03T04:31:54-04:00,1012
61,64,Stained Glass,1088,2025-09-03T04:31:54-04:00,1088
62,11,Models,1137,2025-09-03T04:31:54-04:00,1137
63,3,Documents,1185,2025-09-03T04:31:54-04:00,1185

In [2]:
classification_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   objectcount       64 non-null     int64
 1   name              64 non-null     object
 2   id                64 non-null     int64
 3   lastupdate        64 non-null     object
 4   classificationid  64 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.6+ KB

In [3]:
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://root:2004@localhost:3306/harvard_records")  # root@localhost:3306
classification_df.to_sql('harvard_classification', con=engine, if_exists='replace', index=False)

64

In [4]:
filtered_classification=classification_df[classification_df["objectcount"] >= 2500]
engine = create_engine("mysql+mysqldb://root:2004@localhost:3306/harvard_records")  # root@localhost:3306
filtered_classification.to_sql('filtered_harvard_classification', con=engine, if_exists='replace', index=False)

14

In [5]:
filtered_classification

,objectcount,name,id,lastupdate,classificationid
16,2849,Accessories (non-art),2,2025-09-03T04:31:54-04:00,2
17,85763,Photographs,17,2025-09-03T04:31:54-04:00,17
19,33727,Drawings,21,2025-09-03T04:31:54-04:00,21
20,72270,Prints,23,2025-09-03T04:31:54-04:00,23
21,7009,Paintings,26,2025-09-03T04:31:54-04:00,26
22,6642,Sculpture,30,2025-09-03T04:31:54-04:00,30
27,20272,Coins,50,2025-09-03T04:31:54-04:00,50
28,6229,Vessels,57,2025-09-03T04:31:54-04:00,57
30,3445,Textile Arts,62,2025-09-03T04:31:54-04:00,62
31,15738,Archival Material,64,2025-09-03T04:31:54-04:00,64
38,5212,Fragments,94,2025-09-03T04:31:54-04:00,94
49,4921,Manuscripts,185,2025-09-03T04:31:54-04:00,185
50,5899,Seals,189,2025-09-03T04:31:54-04:00,189
59,5127,Straus Materials,959,2025-09-03T04:31:54-04:00,959

In [ ]:
import requests
import pandas as pd
import time
import warnings

warnings.filterwarnings("ignore", category=UserWarning, module='sqlalchemy')

API_KEY = "56bf439b-dbbc-4535-bfdf-39617a16d185"
URL = "https://api.harvardartmuseums.org/object"

# 5 classifications with >= 2500 objects
target_classes = ['Accessories (non-art)', 'Textiles', 'Manuscripts', 'Fragments', 'Seals','Vessels','Sculpture']

# Dict to hold each classification's DataFrame
dfs = {}

for cls in target_classes:
    records = []
    page = 1

    while True:
        params = {"apikey": API_KEY, "size": 100, "page": page, "classification": cls}
        r = requests.get(URL, params=params)
        if r.status_code != 200:
            break

        data = r.json()
        recs = data.get("records", [])
        if not recs:
            break

        for rec in recs:
            rec["classification_name"] = cls  # add classification info
        records.extend(recs)

        if page >= data.get("info", {}).get("pages", 1):
            break

        page += 1
        time.sleep(0.2)

    dfs[cls] = pd.DataFrame(records)  # store per classification
    print(f"Collected {len(records)} records for classification: {cls}")

# Combine all into one DataFrame
all_data = pd.concat(dfs.values(), ignore_index=True)

print("The total records collected:", len(all_data))
print(all_data.head(2))

In [ ]:
all_data.info()

In [10]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+mysqlconnector://root:2004@localhost:3306/harvard_records")

for cls, df in dfs.items():   # use dfs not all_data
    if df.empty:
        print(f"⚠️ Skipping {cls}, no data.")
        continue

    # ✅ Drop duplicates using set of IDs
    seen_ids = set()
    unique_records = []
    for rec in df.to_dict(orient="records"):
        obj_id = rec.get("id")
        if obj_id and obj_id not in seen_ids:
            seen_ids.add(obj_id)
            unique_records.append(rec)

    # ✅ Metadata table
    meta_df = pd.DataFrame([{
        "id": rec.get("id"),
        "title": rec.get("title"),
        "culture": rec.get("culture"),
        "period": rec.get("period"),
        "century": rec.get("century"),
        "medium": rec.get("medium"),
        "dimensions": rec.get("dimensions"),
        "description": rec.get("description"),
        "department": rec.get("department"),
        "classification": rec.get("classification"),
        "accessionyear": rec.get("accessionyear"),
        "accessionmethod": rec.get("accessionmethod"),
    } for rec in unique_records])

    # ✅ Media table
    media_df = pd.DataFrame([{
        "objectid": rec.get("id"),
        "imagecount": rec.get("imagecount"),
        "mediacount": rec.get("mediacount"),
        "colorcount": rec.get("colorcount"),
        "mediarank": rec.get("rank"),
        "datebegin": rec.get("datebegin"),
        "dateend": rec.get("dateend"),
    } for rec in unique_records])

    # ✅ Colors table (flatten list of colors if available)
    color_records = []
    for rec in unique_records:
        if isinstance(rec.get("colors"), list):
            for c in rec["colors"]:
                color_records.append({
                    "objectid": rec.get("id"),
                    "color": c.get("color"),
                    "spectrum": c.get("spectrum"),
                    "hue": c.get("hue"),
                    "percent": c.get("percent"),
                    "css3": c.get("css3"),
                })


                
    color_df = pd.DataFrame(color_records)

⚠️ Skipping Textiles, no data.

In [11]:
# ✅ Insert into MySQL
if not meta_df.empty:
    meta_df.to_sql("artifact_metadata", con=engine, if_exists="append", index=False)
if not media_df.empty:
    media_df.to_sql("artifact_media", con=engine, if_exists="append", index=False)
if not color_df.empty:
    color_df.to_sql("artifact_colors", con=engine, if_exists="append", index=False)

print(f"✅ Inserted {len(meta_df)} metadata, {len(media_df)} media, {len(color_df)} colors for {cls}")

✅ Inserted 4752 metadata, 4752 media, 37215 colors for Sculpture